@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('BluePurpleGalaxy.webp') no-repeat; /*Sourced from https://www.color-meanings.com/what-color-purple-blue-make-mixed/ */
    background-size: cover;
    background-position: center;
}


.content{
    width: 600px;
    height: 200px;
}


.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    
}

/* columns */
.three-columns-grid > * {
    padding:1rem;
    height: 100%;
}

.middle{
    background-color: white;
    height: 100%;
    width: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateX(-40%);
}

.label{
    transform: translateX(+40%);
}

li{
    list-style-type: none;
}

.post-body
{
    outline: 1px solid grey;
    margin: 1px;
}

.comment
{
    outline: 1px solid grey;
    margin: 10px;
}